body {
	min-width: 320px;


}

.header {
	display: flex;
	justify-content: center;
	background-color: gray;
	position: relative;

}

.header img {
	position: absolute;
	top: 0.9125rem;
	text-align: center;
	right: 0.625rem;

}

.banner img {
	/* 显示的样式 */
	width: 100%;
	background-size: cover;
}

.nav {
	display: flex;
	margin: 0.625rem auto;
	justify-content: space-around;
}

.item {
	display: block;

}

.item img {
	width: 5rem;
	height: 5rem;
}

.item h3 {
	text-align: center;
}

.tuijian {
	display: flex;
	justify-content: left;
	background-color: gray;
	margin: 0.8rem auto;
}

.tuijian span {
	margin: auto 0.625rem;
}

.listitem {


	box-shadow: 3px 3px 3px #666666;
}

.listitem .user {

	margin-top: 10px;


}

.listitem img {
	width: 80px;
	height: 80px;
}

.listitem h3 {
	text-align: center;
}

.footer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 80px;

	left: 0 ;
	background-color: skyblue;
	position: fixed;
	bottom: 0;
}
.footer div {
	display: block;
	background-color: pink;
}
.footer img {
	width: 50px;
	height: 50px;
}
.footer h3{
	width: 50px;
	 
}
