* {
	margin: 0;
	padding: 0;
}

body {

	width: 100%;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
	font-size: 14px;
	font-family: -apple-system, Helvetica, sans-serif;
	color: #666;
	line-height: 1.5;
	background-color: darkgrey;
}

li {

	list-style: none;
}

.app {
	height: 45px;
	width: 100%;
	background-color: #666666;

}



.app ul li {

	text-align: center;
	line-height: 45px;
	height: 45px;

}

.app ul li:nth-child(1) {
	width: 8%;
	float: left;
}


.app ul li:nth-child(1) img {
	width: 16px;
	vertical-align: middle;
}

.app ul li:nth-child(2) {
	width: 10%;
	float: left;

}


.app ul li:nth-child(2) img {
	height: 30px;

	vertical-align: middle;
}

.app ul li:nth-child(3) {
	width: 57%;
	float: left;
}

.app ul li:nth-child(4) {
	width: 25%;
	float: left;
	background-color: red;

}

.app ul li a {
	color: #FFFFFF;
	text-decoration: none;

}

.search {
	position: relative;
	height: 44px;
	overflow: hidden;
}

.search_left {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 44px;
	background: url(../img/s-btn.png) no-repeat;

	background-size: 20px 18px;
	margin: 14px 0 0 14px;
}


.input {

	border-radius: 15px;
	position: relative;
	height: 30px;
	margin: 7px 50px;

	background-color: #FFFFFF;
}

.input .img {
	position: absolute;
	top: 8px;
	left: 13px;
	width: 20px;
	height: 15px;
	background: url(../img/jd.png) no-repeat;
	background-size: 20px 0.9375rem;

}

.line{
	 
	position: absolute;
	top: 8px;
	left: 48px;
	width: 1px;
	height: 15px;
	background-color: #CCCCCC
}

.search_right {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 44px;
	background-color: pink;
	text-align: center;
	line-height: 44px;
}
