* {
	margin: 0;
	padding: 0;
}

body {

	width: 100%;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
	font-size: 14px;
	font-family: -apple-system, Helvetica, sans-serif;
	color: #666;
	line-height: 1.5;
}

li {

	list-style: none;
}

.app {
	height: 45px;
	width: 100%;
	background-color: #666666;

}



.app ul li {

	text-align: center;
	line-height: 45px;
	height: 45px;

}

.app ul li:nth-child(1) {
	width: 8%;
	float: left;
}


.app ul li:nth-child(1) img {
	width: 16px;
	vertical-align: middle;
}

.app ul li:nth-child(2) {
	width: 10%;
	float: left;

}


.app ul li:nth-child(2) img {
	height: 30px;

	vertical-align: middle;
}

.app ul li:nth-child(3) {
	width: 57%;
	float: left;
}

.app ul li:nth-child(4) {
	width: 25%;
	float: left;
	background-color: red;

}

.app ul li a {
	color: #FFFFFF;
	text-decoration: none;

}
