* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
.w {
	width: 1200px;
}

.head{
	height: 30px;
	background-color: #222;
}
.head_r li{
	float: right;
}
.head_r a {
	
	color: #666;
	margin-right: 20px;
	text-decoration: none;
}
.body{
	margin: 0 auto;
	background-color: skyblue;
	height: 1000px;
}
.float-btn{
	position: fixed;
	width: 60px;
	height: 89px;
	left: 50%;
	bottom: 100px;
	margin-left: 620px;
	background:url(img/oldright.png) no-repeat;
}
#content_right{
	float: right;
	width: 200px;
	height: 300px;
	background-color: lightgray;
}
#content_right .pic{
	width: 100%;
	float: left;
	position: relative;
	background-color: red;
}
#content_right .pic img{
	width: 90px;
}
#content_right .num{
	position: absolute;
	top:0;
	left:0;
	background:orange ;
	width: 18px;
	height: 18px;
	 
}