div {
	/* 弹性盒子 伸缩布局 flex  flex-direction主轴方向 */
	display: flex;
	/* flex-direction: column; */
	width: 80%;
	height: 300px;
	background-color: pink;
	/* 间距如何分配 */
	justify-content: space-around;
}

div span {
	width: 150px;
	background-color: skyblue;
	margin-left: 11px;
	margin-top: 5px;
	height: 100px;
}
